services:
  manage:
    container_name: report-manage
    image: sepveneto/br-manage
    ports:
      - 8080:8080
    links:
      - server
    depends_on:
      - server
  logs:
    container_name: report-logs
    build:
        context: .
        dockerfile: dockerfile
        target: log-server
    ports:
      - 8870:8870
    depends_on:
      - db
    links:
      - db
    env_file:
      - .env.db.local
    environment:
      - REPORT_DB_URL=db:27017
  server:
    container_name: report-server
    image: sepveneto/br-server
    ports:
      - 8878:8878
    depends_on:
      - db
    links:
      - db
    env_file:
      - .env.db.local
    environment:
      - REPORT_DB_URL=db:27017
  db:
    container_name: report-db
    image: mongo:4.4.26
    ports:
      - '27017:27017'
    command:
      - '--auth'
    env_file:
      - .env.db.local
    volumes:
      - /root/mongodb:/data/db

  redpanda-0:
    image: docker.redpanda.com/redpandadata/redpanda:v25.2.11
    container_name: redpanda-0
    restart: unless-stopped
    command:
      - redpanda
      - start
      - --kafka-addr internal://0.0.0.0:9092,external://0.0.0.0:19092
      - --advertise-kafka-addr internal://redpanda-0:9092,external://localhost:19092
      - --pandaproxy-addr internal://0.0.0.0:8082,external://0.0.0.0:18082
      - --advertise-pandaproxy-addr internal://redpanda-0:8082,external://localhost:18082
      - --schema-registry-addr internal://0.0.0.0:8081,external://0.0.0.0:18081
      # - --rpc-addr redpanda-0:33145
      # - --advertise-rpc-addr redpanda-0:33145
      - --mode dev-container
      - --node-id 0 # 禁用集群
      - --overprovisioned
      - --smp 1                   # 使用 2 核 CPU
      - --memory 128M               # Redpanda 最大可用内存
      - --reserve-memory 0M
      - --default-log-level=info
      - --check=false
    networks:
      - redpanda_network
    ports:
      - 19092:19092   # Kafka 外部端口
      - 18081:18081   # Schema Registry 外部端口
      - 18082:18082   # Pandaproxy 外部端口
      - 19644:9644    # Admin UI
    deploy:
      resources:
        limits:
          cpus: '1'    # Docker 限制最多 2 核
          memory: 128m   # Docker 限制最多 4G
    mem_limit: 128m
    cpus: 1
    volumes:
      - redpanda-0:/root/lib/redpanda/data

  console:
    image: docker.redpanda.com/redpandadata/console:v3.2.2
    container_name: redpanda-console
    networks:
      - redpanda_network
    entrypoint: /bin/sh
    command: -c 'echo "$$CONSOLE_CONFIG_FILE" > /tmp/config.yml; /app/console'
    environment:
      CONFIG_FILEPATH: /tmp/config.yml
      CONSOLE_CONFIG_FILE: |
        kafka:
          brokers: ["redpanda-0:9092"]
        schemaRegistry:
          enabled: true
          urls: ["http://redpanda-0:8081"]
        redpanda:
          adminApi:
            enabled: true
            urls: ["http://redpanda-0:9644"]
    ports:
      - 8080:8080
    depends_on:
      - redpanda-0

networks:
  redpanda_network:
    driver: bridge

volumes:
  redpanda-0: null


