.el-menu {
  height: 100%;
}

.scrollbar-wrap {
  height: calc(100vh - var(--topbar-height))
}

input {
  font-family: 'YaHei';
}

.page-enter-active, .page-leave-active {
  transform: translateY(0px);
  transition: all 0.24s ease;
}
.page-enter-from {
  transform: translateY(200px);
  opacity: 0;
}
.page-leave-to {
  transform: translateY(200px);
  opacity: 0;
}
