[package]
name = "proxy"
version = "0.1.0"
edition = "2024"

[[bin]]
name = "bury-report-proxy"
path = "src/main.rs"

[dependencies]
anyhow = "1.0.100"
env_logger = "0.11.8"
log = "0.4.29"
once_cell = "1.21.3"
tokio = {version = "1.48.0", features = ["full"] }
