[package]
name = "worker"
version = "0.1.0"
edition = "2024"

[dependencies]
dotenv = "0.15.0"
env_logger = "0.10.1"
qcos = "0.1"
log = "0.4.20"
tokio = "1.39.2"
rdkafka = { version = "0.38", features = ["tokio", "cmake-build"] }
futures = "0.3"
chrono = "0.4.31"
chrono-tz = "0.9.0"