name: Publish core to NPM

on:
  workflow_dispatch:
  push:
    tags:
      - core@*

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version:  20.17.0
          registry-url: https://registry.npmjs.org
      
      - name: Update npm
        run: npm install npm@11.6.1 -g

      - name: Build and Publish
        env:
          NODE_AUTH_TOKEN: ""
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: sh ./scripts/publish-core.sh
