name: Publish Package

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

permissions:
  id-token: write  # Required for OIDC
  contents: read


jobs:
  test-oidc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Request OIDC token
        id: oidc
        uses: actions/id-token@v2

      - name: Show token
        run: echo "${{ steps.oidc.outputs.id_token }}"
  